{% extends "student/student_main.html" %}

{% block content %}


    <h1 align="center">Личный кабинет {{ user.first_name }}</h1>

    {% if exams %}
        <h2 align="center">Ваши предстоящие экзамены и контрольные:</h2>
        <table class="bg-secondary table text-white">
            <thead>
            <tr>
                <th>Предмет</th>
                <th>Тема экзамена</th>
                <th>Дата</th>
                <th>Учитель</th>

            </tr>
            </thead>
            <tbody>
            {% for exam in exams %}
                <tr>
                    <td>{{ exam.teacher.my_subject }}</td>
                    <td>{{ exam.name }}</td>
                    <td>{{ exam.date }}</td>
                    <td>{{ exam.teacher.user.first_name }} {{ exam.teacher.user.last_name }}
                        <br>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p align="center">Нету экзаменов .</p>
    {% endif %}

{% endblock %}