{% extends "student/student_main.html" %}

{% block content %}
<h1 align="center">Личный кабинет {{ user.first_name }}</h1>

{% if lessons %}
    <h2 align="center">{{ date }}: Ваши занятия</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Предмет</th>
            <th>Описание</th>
            <th>Дата / Время</th>
            
        </tr>
        </thead>
        <tbody>

{% for lesson in lessons %}
        <tr>
            <td>{{ lesson.subject.name }}</td>
            <td>{{ lesson.description }}</td>
            <td>{{ lesson.date }}</td>
            
        </tr>

{% endfor %}
        </tbody>
    </table>
    
{% endif %}


{% endblock %}
