{% extends "teacher/teacher_main.html" %}

{% block content %}
    <div class="container mt-4">
        <h2>Ваше расписание на неделю:</h2>
        <table class="bg-secondary table text-white">
            <thead>
                <tr>
                    <th>N </th>                    
                    <th>Время</th>
                    <th>Группа</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for lesson in lessons %}
                    <tr>
                        
                        <td>{{ forloop.counter }}</td>
                        <td>{{ lesson.date }}</td>
                        <td>{{ lesson.group.number }}</td>
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}