{% extends "parent/parent_main.html" %}

{%  block content %}
    
    
   <h1 align="center">Доброго дня, {{ user.first_name }} {{ user.last_name }}!</h1>
    <h1 align="center">Ваш ученик: {{ student.first.user.first_name }} {{ student.first.user.last_name }}</h1>

    {% if exams %}
        <h2 align="center">Ваши предстоящие экзамены и контрольные:</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Предмет</th>
                    <th>Дата</th>
                    <th>Учитель</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for exam in exams %}
                    <tr>
                        <td>{{ exam.subject.name }}</td>
                        <td>{{ exam.date }}</td>
                        <td>
                            {% for teacher in exam.teacher.all %}
                                {{ teacher.user.first_name }} {{ teacher.user.last_name }}<br>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p align="center">Нету экзаменов .</p>
    {% endif %}

{% endblock %}