{% extends "main/base.html" %}

{% block sidebar %}
    <div class="container-fluid">
        <div class="row">
            <nav class="sidebar col-lg-2 d-md-block custom-sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'parent_message' %}">Сообщения от учителя</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'parent_schedule' %}">Расписание контрольных и экзаменов</a>
                        </li>
                        <li class="nav-itemv">
                            <a class="nav-link active " href={% url 'parent_hw' %}>Домашние задания студента</a>
                        </li>

                    </ul>
                </div>
            </nav>


        </div>
    </div>
{% endblock %}


<h1 align="center">Доброго дня  {{ user.first_name }} {{ user.last_name }} !</h1>
    <h1 align="center">Ваш ученик: {{ student.first.user.first_name }} {{ student.first.user.last_name }}</h1>




{% block content %}
   

{% endblock %}