{% extends 'main/base.html' %}

{% block title %}New PAssword{% endblock %}

{% block content %}

    {% if errors %}
        <div class="alert alert-danger">
            {{ errors }}
        </div>
    {% endif %}

    <div class="container py-5" style="width: 350px">
        <form action="{% url 'new-password' uidb64 token  %}" method="post">
            {% csrf_token %}


            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">New Password</label>
                <input name="password1" type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Confirm your password</label>
                <input name="password2" type="password" class="form-control" id="exampleInputPassword1">
            </div>

            <button type="submit" class="btn btn-primary">Sign In</button>
        </form>
        
    </div>
{% endblock %}