{% extends 'main/base.html' %}

{% block title %}ResetForm{% endblock %}

{% block content %}

    {% if errors %}
        <div class="alert alert-danger">
            {{ errors }}
        </div>
    {% endif %}

    <div class="container py-5" style="width: 350px">
        <form action="{% url 'reset-password' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Username</label>
                <input name="username" type="text" class="form-control" id="exampleInputEmail1"
                       aria-describedby="emailHelp">
            </div>
                        
            
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input name="email" type="email" class="form-control" id="exampleInputEmail1"
                       aria-describedby="emailHelp">
            </div>
            
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
        <br>
        
    </div>
{% endblock %}